# dependencies
node_modules/
.pnp
.pnp.js

# production
/dist
/build

# misc
.DS_Store
.env
.env.dev
.env.prod

# editor
.idea/
.vscode/
*.log
*.tsbuildinfo

# lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml
    gitpushed.log 
