.container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary-text-hover);
    /* justify-content: space-between; */
    height: 100vh;
}

/* Header Footer 高度固定 */
.container > :first-child,
.container > :last-child {
    flex-shrink: 0;
}
/* Sidebar 固定宽度 */
.body > :first-child {
    width: 150px;
    height: 100%;
    flex-shrink: 0;
}

.header {
    height: 60px;
}
.body {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 0 10px;
    overflow: hidden;
    height: 100%;
}
.footer {
    height: 60px;
}

/* Main 自动占满 */
.main {
    flex: 1;
    overflow-y: scroll;
}
