.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header Footer 高度固定 */
.container > :first-child,
.container > :last-child {
    flex-shrink: 0;
}

.body {
    display: flex;
    flex: 1;
    overflow: hidden;
}

/* Sidebar 固定宽度 */
.body > :first-child {
    width: 150px;
    flex-shrink: 0;
}

/* Main 自动占满 */
.main {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}
