.layout {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.header {
    grid-column: 1 / span 2;
    background: #5a38d1;
    color: white;
    padding: 10px;
}

.sidebar {
    background: #f2f2f2;
    padding: 10px;
}

.content {
    background: #853232;
    padding: 20px;
}

.footer {
    grid-column: 1 / span 2;
    background: #2f0c0c;
    padding: 10px;
    text-align: center;
}
