/*global.css*/
html {
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}
body,
html {
    overflow: hidden; /* ✅ 禁止出现滚动条 */
}
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
