/*variables.css*/

:root {
    --color-primary: #ecf3ff;
    --border-left-color: #ecf3ff;
    --color-primary-border: rgb(228, 231, 236); /* 249, 250, 251 */
    --color-primary-bg: #f9fafb;
    --color-primary-text: rgb(236, 243, 255);
    --color-primary-text-hover: rgb(249, 250, 251); /* 249, 250, 251 */
}
